/*========  column layout =======*/
.wp_pricing_wrapper{
  &.wp_priceing_frontend{
    &.wp_pricing_has_featured {
      padding-top: 30px;
    }
    padding: 0;
  }
  &.wp_pricing_border_yes{
    .wp_pricing_table-inner{
      .wp_pricing_table_column{
        &.ninja_featured_column{
          border: none;
        }
        border-width: 1px;
        border-style: solid;
      }
    }
  }
  padding: 50px 20px;
  .wp_pricing_table-inner{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    @media #{$mobile} {
      flex-direction: column;
    }
    .wp_pricing_table_column{
      min-width: 160px;
      max-width: 320px;
      position: relative;
      flex-grow: 1;
      margin-right: 20px;
      overflow: hidden;
      border-radius: 16px;
      background: #fff;
      @media #{$mobile} {
        margin-right: 0;
        margin-bottom: 30px;
        border-radius: 16px !important;
      }
      &.ninja_featured_column{
        box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 6px 20px rgba(0,0,0,.15);
        border: none;
        margin-top: -30px;
        margin-bottom: -30px;
        @media #{$mobile} {
          margin: 0 0 30px;
        }
        .wp_pricing_ribbon{
          .wp_pricing_ribbon_text{
            position: absolute;
            display: block;
            top: 18px;
            right: -30px;
            width: 128px;
            padding: 9px 20px 8px;
            margin: 0;
            transform: rotate(45deg);
            height: 32px;
            line-height: 1;
            z-index: 2;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            box-sizing: border-box;
            text-align: center;
          }
        }
        .wp_pricing_column_element{
          &:nth-child(2){
            padding-top: 60px;
          }
          &:last-child{
            padding-bottom: 60px;
          }
        }
      }
      &:last-child{
        margin-right: 0;
        @media #{$mobile} {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .wp_pricing_table_header{
    padding: 30px 10px;
    text-align: center;
    //background: #fff;
    h2{
      margin: 10px 0;
      font-weight: 300;
      font-size: 24px;
    }
    h4{
      margin: 0;
      font-weight: 200;
      font-size: 13px;
    }
  }
  .wp_pricing_table_features{
    padding: 32px 0;
    .wp_pricing_feature_item{
      padding: 10px 32px 8px 32px;
      position: relative;
      margin-left: 25px;
      i{
        //font-size: 16px;
        line-height: 16px;
        position: absolute;
        top: 12px;
        left: 5px;
      }
      span{
        font-weight: 300;
      }
    }
  }
  .wp_pricing_table_price{
    padding: 10px 32px 8px 32px;
    text-align: center;
    .wp_pricing_column_price_prefix{
      padding-right: 4px;
      font-size: 11px;
      opacity: 0.7;
      font-weight: 300;
    }
    .wp_pricing_column_price_text{
      display: inline;
      font-size: 32px;
      font-weight: 600;
      line-height: 28px;
      .wp_pricing_column_price_currency{
        font-size: .44em;
        opacity: 0.7;
        font-weight: 300;
      }
      .wp_pricing_column_price{

      }
    }
    .wp_pricing_column_price_postfix{
      font-size: 15px;
      opacity: 0.7;
      font-weight: 300;
    }
  }
  .wp_pricing_footer{
    text-align: center;
    padding: 32px 0;
    a{
      box-sizing: border-box;
      display: inline-block;
      align-items: center;
      justify-content: center;
      outline: none;
      min-width: 100px;
      max-width: 100%;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      height: 36px;
      line-height: 34px;
      transition: all 0.4s ease;
      padding: 0 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      border-radius: 4px;
    }
    .wp_pricing_btn_caption{
      font-size: 11px;
      font-weight: 400;
      line-height: 16px;
      margin-top: 12px;
    }
  }
}


/*======== grid layout ==========*/
.wp_pricing_wrapper.wp_pricing_grids {
  .wp_pricing_table-inner{
    .wp_pricing_table_column{
      border-radius: 0;
      margin-right: -1px;
      &.ninja_featured_column {
        border-radius: 16px !important;
        z-index: 111;
      }
      &:first-child{
        border-radius: 16px 0 0 16px;
      }
      &:last-child{
        border-radius: 0 16px 16px 0;
      }
    }
  }
}